@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    user-select: none;
}

.main-flex{
    display:flex;
    height:100vh;
    justify-content: space-between;
    flex-direction: column;
}

footer{
    background-color: rgba(0, 15, 59, 0.8);
}

.logo-section-landing{
    min-height: 35vh;
    /* background-image: url("../assets/img/background.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.link-section{
    height: 30vh;
}

.card_selector{
    font-size: 0.7rem;
    color:#DEDEDE;
}

.position-card-1{
    position: relative;
    top:0;
    left:0;
    transition: left 1s;
}

.position-card-2{
    position: absolute;
    top:0;
    left:100%;
    transition: left 1s;
}

.position-card-2 img{
    width: 44%;
}

.position-card-3{
    position: absolute;
    top:0;
    left:200%;
    transition: left 1s;
}

.position-card-3 img{
    width: 44%;
}

.form-section{
    min-height:27rem;
}

.header-section{
    min-height: 3.3rem;
}

.section-search-home-page{
    min-height: 18rem;
    background-color: #ff3052;
    border-radius: 0 0 35px 0;
    padding-top: 5rem;
}

.input_search-home-page{
    border-radius: 50pt;
    padding: 0.5rem 3rem 0.5rem 2.8rem;
    display: block;
    border: none;
    width: 100%;
}

.input_search-home-page:focus{
    outline: none;
}

.div-icons-sign-up{
    width:21.6rem;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.icon-sign_up_1{
    position: absolute;
    top:0.7rem;
    right:0;
    margin-right:1.2rem;
    font-size: 1.6rem;
}

.icon-sign_up_2{
    position: absolute;
    top:4.8rem;
    right:0;
    margin-right:1.2rem;
    font-size: 1.6rem;
}

.icon-sign_up_3{
    position: absolute;
    top:8.9rem;
    right:0;
    margin-right:1.2rem;
    font-size: 1.6rem;
}

.icon-sign_up_4{
    position: absolute;
    top:13rem;
    right:0;
    margin-right:1.2rem;
    font-size: 1.6rem;
}

.img-filter-top{
    position: absolute;
    top:0.6rem;
    left:calc(100% - 3.2rem);
}

.icon-search-top{
    position: absolute;
    top:0.8rem;
    left:2rem;
}

.checkbox-top-home-page{
    border-radius: 50pt;
    outline: none;
    border: 2pt solid #25004C;
    background-color: white;
    height:2.4rem;
    width:100%;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    overflow: hidden;
    color: white;
}

.checkbox-top-home-page p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selector{
    position: absolute;
    background-color: #25004C;
    left: 0;
    width:50%;
    height:100%;
    /* transition: all 0.3s;*/
}

.art-logo-icon-lp{
    max-width: 22%;
}

.art-logo-text-lp{
    max-width: 45%;
}

.link-landing{
    max-width: 18rem;
}

.log-in{
    padding: 0.5rem 6vw;
    background: linear-gradient(90deg, rgba(72,149,239,1) 0%, rgba(53,231,255,1) 100%);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 50px;
    display: block;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.log-in:hover{
    color: white;
    background: linear-gradient(90deg, rgba(71,142,226,1) 0%, rgba(47,206,227,1) 100%);
}

.sign-up{
    padding: 0.5rem 6vw;
    background-color: white;
    color: #4895ef;
    border: 2px solid #4895ef;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 50px;
    display: block;
    font-size: 0.9rem;
}

.sign-up:hover{
    color: #4895ef;
}

/* Sign Up */

.background_roxo{
    background-color: #25004C;
}

.sign-up-h1{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 2.2rem;
    white-space: nowrap;
    /* margin-left: calc(50% - 172px); */
}

.sign-up-h4{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 2.2rem;
    white-space: nowrap;
    text-align: center;
}

.sign-up-h6{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
    white-space: nowrap;
    /* margin-left: calc(50% - 172px); */
}

.input_sign_up{
    border-radius: 50pt;
    padding: 0.8rem 4rem 0.8rem 2rem;
    max-width: 100%;
    width: 22rem;
    display: none;
    margin-left:auto;
    margin-right:auto;
    border: none;
}

.input_sign_up:focus{
    outline: none;
}

.input_sign_up::placeholder{
    color: #adadad;
}

#termos_sign_up{
    display: none;
}

.sec-selector-home-page{
    margin:0;
}

#interesses_card{
    padding:0;
    display: none;
}

#interesses{
    padding:0;
}

#todos{
    padding:0;
}

.check-interesse{
    height: 132px;
    border-radius: 10px;
    max-width: 150px;
    padding: 0 9px;
    overflow: hidden;
}

.check-int-1 input[type="checkbox"]{
    background-image: url("../assets/img/danca.svg");
}

.check-int-2 input[type="checkbox"]{
    background-image: url("../assets/img/cultura.svg");
}

.check-int-3 input[type="checkbox"]{
    background-image: url("../assets/img/musica.svg");
}

.check-int-4 input[type="checkbox"]{
    background-image: url("../assets/img/desporto.svg");
}

.check-int-5 input[type="checkbox"]{
    background-image: url("../assets/img/jogos.svg");
}

.check-int-1 input[type="checkbox"]:checked{
    background-image: url("../assets/img/danca2.svg");
}

.check-int-2 input[type="checkbox"]:checked{
    background-image: url("../assets/img/cultura2.svg");
}

.check-int-3 input[type="checkbox"]:checked{
    background-image: url("../assets/img/musica2.svg");
}

.check-int-4 input[type="checkbox"]:checked{
    background-image: url("../assets/img/desporto2.svg");
}

.check-int-5 input[type="checkbox"]:checked{
    background-image: url("../assets/img/jogos2.svg");
}

.check-interesse input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.termos_info{
    color: white;
}

.select_sign_up{
    width:19.4rem;
    max-width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    display: none;
    border-radius: 50px;
    padding: 0.6rem 1.8rem 0.6rem 1.2rem;
    height:2.8rem;
}

.border_bottom_meca{
    border-bottom: 2px solid white;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: none;
}

/* check box 1 */

.box {
    display: none;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 264px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    transition: background-color 0.1s;
    border-radius: 5px;
}

.box:hover input ~ .checkmark {
    background-color: #00A542;
}

.box input:checked ~ .checkmark {
    background-color: #00A542;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.box input:checked ~ .checkmark:after {
    display: block;
}

.box .checkmark:after {
    left: 10px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* check box 2 */

.box-2 {
    font-size: 0.8rem;
    display: none;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    max-width: 192px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.box-2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark-1 {
    position: absolute;
    top: 0px;
    left: 275px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    transition: background-color 0.1s;
    border-radius: 5px;
}

.box:hover input ~ .checkmark-1 {
    background-color: #eee;
}

.box input:checked ~ .checkmark-1 {
    background-color: #00A542;
}

.checkmark-1:after {
    content: "";
    position: absolute;
    display: none;
}

.box input:checked ~ .checkmark-1:after {
    display: block;
}

.box .checkmark-1:after {
    left: 10px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark {
    position: absolute;
    top: 8px;
    left: 167px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    transition: background-color 0.1s;
    border-radius: 5px;
}

.box-2:hover input ~ .checkmark {
    background-color: #eee;
}

.box-2 input:checked ~ .checkmark {
    background-color: #00A542;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.box-2 input:checked ~ .checkmark:after {
    display: block;
}

.box-2 .checkmark:after {
    left: 10px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* avançar | recuar */

#submit{
    border-radius: 50pt;
    padding: 0.5rem 3rem;
    color: white;
    background: linear-gradient(90deg, rgba(0,116,82,1) 0%, rgba(0,112,32,1) 100%);
    text-transform: uppercase;
    font-weight: bold;
    display: none;
    border: none;
    margin-left:auto;
    margin-right:auto;
    transition: background-color 0.2s;
}

#avancar_sign_up{
    border-radius: 50pt;
    padding: 0.5rem 14vw;
    color: white;
    background: linear-gradient(90deg, rgba(0,205,144,1) 0%, rgba(0,195,55,1) 100%);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    border: none;
    margin-left:auto;
    margin-right:auto;
    transition: background-color 0.2s;
}

#avancar_sign_up:focus{
    outline: none;
}

#avancar_sign_up:hover{
    background: linear-gradient(90deg, rgba(0,172,121,1) 0%, rgba(0,162,46,1) 100%);
}

#voltar_sign_up{
    font-size:0.9rem;
    border-radius: 50pt;
    padding: 0.3rem 1rem;
    display: block;
    color: white;
    font-weight: bold;
    margin-left:auto;
    margin-right:auto;
    border: none;
    background-color: transparent;
    transition: color 0.2s;
}

#voltar_sign_up:focus{
    outline: none;
}

#voltar_sign_up:hover{
    color: #c7c7c7;
}

/* nav PC */

#nav-bar{
    position: fixed;
    width: 100%;
    height: 3rem;
    background-color: #2d2d2d;
    padding: 10pt;
    z-index: 10;
}

#nav-bar p{
    color: white;
}

.link-nav a{
    text-decoration: none;
    color: white;
    margin: 0 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.width-7{
    width: 6rem;
}

.icon-size{
    font-size: 1.5rem;
}

/* Displays */

.display-xs-block{
    display:block;
}

.display-xs-off{
    display: none;
}

/*###############################################################################*/
/* Dispositivos Small (576px --- 767px) sm */
@media only screen and (min-width: 576px) {


}
/*###############################################################################*/
/* Dispositivos Medium (768px --- 991px) md  */
@media only screen and (min-width: 768px) {

    #avancar_sign_up{
        padding: 0.5rem 3rem;
    }

    .log-in{
        padding: 0.5rem 4rem;
        font-size: 1rem;
    }

    .sign-up{
        padding: 0.5rem 4rem;
        font-size: 1rem;
    }

    .sign-up-h1{
        font-size: 3rem;
        margin-left: 0;
    }

    .sign-up-h4{
        font-size: 3rem;
        margin-left: 0;
    }

    .sign-up-h6{
        font-size: 1.3rem;
        margin-left: 0;
    }

    .art-logo-icon-lp{
        max-width: 50%;
    }

    .art-logo-text-lp{
        margin-left: 3vmin;
        max-width: 70%;
    }

    .display-md-off{
        display: none;
    }

    .display-md-on-block{
        display: block;
    }

}
/*###############################################################################*/
/* Dispositivos Large (992px --- 1199px) lg */
@media only screen and (min-width: 992px) {


}
/*###############################################################################*/
/* Dispositivos extra Large (1199px --- ...) xg */
@media only screen and (min-width: 1200px) {


}
/*###############################################################################*/